body{
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}


.fecha {
    display: block;
    font-size: 30px;
    color: #666;
}

.countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.countdown span {
    text-align: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.countdown span p {
    font-size: 40px;
    color: #333;
}

.countdown span h4 {
    color: #666;
}

.complemeto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}